.swiper-container {
  width: 100%;
  height: 40vh; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  opacity: 0.5;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.swiper-slide.swiper-slide-active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.dino-1 {
  background-image: url("../img/dino1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.dino-2 {
  background-image: url("../img/dino2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.dino-3 {
  background-image: url("../img/dino3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
