.explore {
  z-index: 15;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url(../img/bg.png);
  // background-size: cover;

  #intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: black;
    }
  }
}
